@value theme: '../../../themes/default.css';

@value timezoneHeight from theme;
@value timezoneCurrentHeight from theme;
@value colorRed from theme;

.timezone {
  position: relative;
  height: timezoneHeight;
}

.timezoneCurrent {
  height: timezoneCurrentHeight;
}

.timezoneLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;
  height: 100%;
  font-size: 7pt;
  color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.timezoneLabelCurrent {
  color: colorRed !important;
}

.timezone:hover {
  cursor: pointer;
}

.timezone:hover .timezoneLabel {
  padding: 0 1.2em;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  z-index: 9;
}

.timezoneNowline {
  position: absolute;
  top: -1px;
  width: 1px;
  margin-left: -0.5px;
  height: calc(100% + 2px);
  background-color: colorRed;
  transition: all 0.3s linear;
  z-index: 99;
}
