@value theme: '../../../themes/default.css';

@value timezoneHeight from theme;
@value colorRed from theme;

.timezone {
  position: relative;
  height: timezoneHeight;
}

.timezoneLabel {
  position: absolute;
  top: 0;
  left: 0.8em;
  height: 100%;
  font-size: 9pt;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.timezoneLabelCurrent {
  color: colorRed !important;
}

.timezone:hover {
  cursor: pointer;
}

.timezone:hover .timezoneLabel {
  left: 1em;
  color: rgba(0, 0, 0, 0.6);
}

.timezoneNowline {
  position: absolute;
  top: -1px;
  width: 2px;
  height: calc(100% + 2px);
  background-color: colorRed;
  transition: all 0.3s linear;
}
