@value theme: '../../themes/default.css';

@value colorRed from theme;
@value timelineBorderColor from theme;

.timeline {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden !important;
}

.timezone {
  border-top: 1px solid timelineBorderColor;
}

.timezone:last-of-type {
  border-bottom: 1px solid timelineBorderColor;
}

.timezones {
}

.timelineHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

.timelineTitle {
  font-weight: bolder;
  font-size: 22pt;
}
